.product-card {
  display: inline-block;
  padding: 5px;

  .card-image img{
    position: absolute !important;
  }
  .card-image:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}