.filters-container{
  .collapsible {
    padding-right: 0px;

    [type="checkbox"] + label::before, [type="checkbox"]:not(.filled-in) + label::after {
      right: 0;
    }

    [type="checkbox"] + label {
      padding-right: 26px;
    }

    [type="checkbox"]:checked + label::before {
      right: 8px;
      left: 0;
    }
    .filled-in[type="checkbox"]:checked + label::before {
      right: 9px;
      left: unset;
    }
    .filled-in[type="checkbox"]:checked + label::after {
    }
    .filled-in[type="checkbox"] + label::before, .filled-in[type="checkbox"] + label::after {
      right: -1px;
    }
    .filled-in[type="checkbox"]:not(:checked) + label::before {
      right: 10px;
    }
    [type="radio"]:not(:checked) + label {
      padding-right: 26px;
    }
    [type="radio"]:checked + label {
      padding-right: 26px;
    }
    [type="radio"] + label::before, [type="radio"] + label::after {
      right: 0;left:unset;
    }
    label::before, [type="radio"] + label::after {
      right: 0;left:unset;
    }
  }

  .rheostat {
    overflow: visible;
  }

  .rheostat-background {
    background-color: #fcfcfc;
    border: 1px solid #d8d8d8;
    position: relative;
  }

  .rheostat-progress {
    background-color: teal;
    position: absolute;
  }

  .rheostat-handle {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 20%;
    height: 24px;
    outline: none;
    z-index: 2;
    width: 24px;
  }

  .rheostat-handle:before,
  .rheostat-handle:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #dadfe8;
  }
  .rheostat-horizontal {
    height: 24px;
  }

  .rheostat-horizontal .rheostat-background {
    height: 15px;
    top: 0px;
    width: 100%;
  }

  .rheostat-horizontal .rheostat-progress {
    height: 13px;
    top: 2px;
  }

  .rheostat-horizontal .rheostat-handle {
    margin-left: -12px;
    top: -5px;
  }

  .rheostat-horizontal .rheostat-handle:before,
  .rheostat-horizontal .rheostat-handle:after {
    top: 7px;
    height: 10px;
    width: 1px;
  }

  .rheostat-horizontal .rheostat-handle:before {
    left: 10px;
  }

  .rheostat-horizontal .rheostat-handle:after {
    left: 13px;
  }

}