@font-face {
  font-family: 'Yekan';
  src: url('/assets/fonts/web_Yekan.woff') format('woff');
}
body{
  margin: 0px;
}
* {
  box-sizing: border-box;
  font-family: Roboto, Yekan !important; ;
}
.material-icons {
  font-family: 'Material Icons' !important;
}